UI/Service References/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Repository" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Repository" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Plane" nillable="true" type="tns:Plane" />
      <xs:element minOccurs="0" name="StationId" type="xs:int" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="Plane">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlaneId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plane" nillable="true" type="tns:Plane" />
  <xs:complexType name="ArrayOfDCAhistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCAhistory" nillable="true" type="tns:DCAhistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCAhistory" nillable="true" type="tns:ArrayOfDCAhistory" />
  <xs:complexType name="DCAhistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="DCAhistoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Departures" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Landings" type="xs:dateTime" />
      <xs:element minOccurs="0" name="plane" nillable="true" type="tns:Plane" />
      <xs:element minOccurs="0" name="station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCAhistory" nillable="true" type="tns:DCAhistory" />
</xs:schema>